In [1]:
import numpy as np
import pandas as pd

In [30]:
covid_file = "./cov.csv"
influenza_file = "./influenza.csv"
flu_df = pd.read_csv(influenza_file)
cov_df = pd.read_csv(covid_file)

In [31]:
cov_df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
202156,2022-04-30,ZW,Zimbabwe,AFRO,58,247842,0,5469
202157,2022-05-01,ZW,Zimbabwe,AFRO,0,247842,0,5469
202158,2022-05-02,ZW,Zimbabwe,AFRO,0,247842,0,5469
202159,2022-05-03,ZW,Zimbabwe,AFRO,0,247842,0,5469
202160,2022-05-04,ZW,Zimbabwe,AFRO,0,247842,0,5469

In [29]:
pol_cov = cov_df[cov_df["Country_code"] == "PL"]
columns = ["Date_reported","New_cases", "Cumulative_cases", "New_deaths", "Cumulative_deaths"]
pol_cov = pol_cov[columns].reset_index().drop("index", axis=1)
pol_cov

    Date_reported  New_cases  Cumulative_cases  New_deaths  Cumulative_deaths
0      2020-01-03          0                 0           0                  0
1      2020-01-04          0                 0           0                  0
2      2020-01-05          0                 0           0                  0
3      2020-01-06          0                 0           0                  0
4      2020-01-07          0                 0           0                  0
..            ...        ...               ...         ...                ...
848    2022-04-30        840           5996514          17             116059
849    2022-05-01        234           5996748           0             116059
850    2022-05-02        187           5996935           0             116059
851    2022-05-03        890           5997825          10             116069
852    2022-05-04        173           5997998           1             116070

[853 rows x 5 columns]